<div class="container-fluid">
  <div class="innerBody">
    <div class="boxFullWidth">
      <div class="card">
        <div class="card-header">
          <h3>Attendance Summary</h3>
        <button class="button1">Add Attendance Summary</button>
        <button>Generate previous month summary</button>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3 row">
              <label
                for="table-filtering-search"
                class="col-xs-3 col-sm-auto col-form-label"
                >Employee:</label
              >
              <div class="col-xs-3 col-sm-auto">
                <input
                  id="table-filtering-search"
                  class="form-control"
                  type="text"
                />
              </div>
            </div>
            <div class="mb-3 row statusInput">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Month:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text" />
                </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Employee Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">Month</th>
                  <th scope="col">Year</th>
                  <th scope="col">Total Working Days</th>
                  <th scope="col">Present Days</th>
                  <th scope="col">Leave</th>
                  <th scope="col">Extra Working Days</th>
                  <th scope="col">Carry Over</th>
                  <th scope="col">Earned Leave</th>
                  <th scope="col">Late Leave</th>

                  <th scope="col">Total Leave</th>
                  <th scope="col">Balanced Leave</th>
                  <th scope="col">Holiday</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of attendanceSummary">
                  <td>{{ item.id }}</td>
                  <td>{{ item.employee_code }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.month }}</td>
                  <td>{{ item.year }}</td>
                  <td>{{ item.total_working_days }}</td>
                  <td>{{ item.present_days }}</td>
                  <td>{{ item.leave }}</td>
                  <td>{{ item.extra_working_days }}</td>
                  <td>{{ item.carry_over }}</td>
                  <td>{{ item.earned_leave }}</td>

                  <td>{{ item.late_leave }}</td>

                  <td>{{ item.total_leave }}</td>
                  <td>{{ item.balanced_leave }}</td>
                  <td>{{ item.holiday }}</td>
                  <td>{{ item.status }}</td>
                  <td>{{ item.action }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
