.dashboard .innerBody{
    width:100vw;
}

.card-header{
    background-color: #829b9b;
}


.col-form-label {
    font-weight: bold;
    font-size: 20px;
}

.dashboard .innerBody {
    max-width: 100%;

}

/* .col-2 {
    height: 100vh;
} */

.boxFullWidth {
    width: 100%;
    padding-top: 10px;

}

.col-2 {
    width: 12%;
}

.col-10 {
    width: 88%;
}


.container-fluid {
    max-height: 100vh;
    overflow-y: auto;
}

.card-header {
    background-color: #829b9b;
    display: flex;
    justify-content: space-between;
}



button {
    border-radius: 5px;
    background-color: #e14a25;
    color: white;
    font-weight: bold;
}

.status_input{
    margin-left: 5% !important;
}



