<!-- <dx-calendar></dx-calendar> -->
<dx-calendar>
</dx-calendar>




 <div class="boxes innerBody">
    <span class="note">* Notes</span> 
      <span><span class="green color-box"></span> :Future (and current) Approved leaves </span>
      <span><span class="orange color-box"></span> :Future (and current) Unapproved </span>
      <span><span class="grey color-box"></span> :Past Approved leaves </span>
      <span><span class="red color-box"></span> :Past unapproved </span>
      <span><span class="blue color-box"></span> :Rejected/Cancelled </span> 
    </div> 




